.navbar.navbar-fixed-top
  .navbar-inner
    %a{:class => "brand", href: '/'}
      Angular Rails Forms Demo
    %ul.nav.pull-right
      %li
        %a{href: main_forms_path} Forms
      %li
        %a{href: root_path} Home 

